/venv/
**/.idea/
**/.vscode/
**/.git/
**/__pycache__/
**/coverage
**/.dockerignore
**/.gitignore
**/*.env
**/*.env.example
**/*.yml
**/*.log
**/api-gw.yaml
**/api-gw.yaml.example
Dockerfile
Makefile
README.md